<head>
  <%- include('../partials/head'); %>
</head>
<div class="container">
  <div class="row">
    <div class="col-4">



        <img style="width: 100%;
object-fit: cover;" src="<%-`/img/users/${user.photo}` %> " alt="">

    </div>
    <div class="col-8">
      right part

      <h2>Update me</h2>
      <div>
        <!-- Without API
        <form action="submit-user-data" method="POST" id="update-me-form"> -->

          <!-- WITH API -->
        <form  id="update-me-form">
          <label for="firstname">Enter firstname: </label>
          <input id="firstname-update" type="text" name="firstname" value=<%-`${user.firstname}`%>>
          <label for="lastname">Enter lastname: </label>
          <input id="lastname-update" type="text" name="lastname" value=<%-`${user.lastname}`%>>
          <label for="email">Enter email: </label>
          <input id="email-update" type="text" name="email" value=<%-`${user.email}`%>>
          <input type="submit" value="Update Me">
        </form>

      </div>

      <div>
        <h2>Update password</h2>
        <form id="update-password-form">
          <label for="current-password">Enter current-password: </label>
          <input id="current-password" type="text" name="current-password">
          <label for="new-password">Enter new-password: </label>
          <input id="new-password" type="text" name="new-password">
          <label for="confirm-new-password">Enter confirm-new-password: </label>
          <input id="confirm-new-password" type="text" name="confirm-new-password">
          <input type="submit" value="Update Password">
        </form>
      </div>
      /updatePassword

      /deleteMe'
    </div>

  </div>

</div>

<script type="text/javascript" src="/js/bundle.js"></script>
